@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;
  font-family: RethinkSans-VariableFont;
}

@font-face {
  font-family: "RethinkSans-VariableFont";
  src: local("RethinkSans-VariableFont"),
    url("./assets/font/RethinkSans-VariableFont_wght.ttf") format("truetype");
}
